.App {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: #f8f8f8;
}

.card-grid {
  display: grid;
  grid-template-columns: repeat(4, 90px);
  grid-gap: 16px;
}
